@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

body.register-background {
  background-image: url("https://i.pinimg.com/564x/e7/a9/6f/e7a96fe4030719afba8bf111f6cec041.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 100%;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register_box {
  position: relative;
  width: 450px;
  color: var(--second-color);
  backdrop-filter: blur(25px);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  box-shadow: 0px 0px 10px 2px #00000033;
}

.register-header {
  width: 140px;
  height: 70px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}

.register-header span {
  font-size: 30px;
  color: var(--black-color);
}

.register-header::before {
  width: 30px;
  height: 30px;
  content: "";
  box-shadow: 15px 0 0 0 var(--primary-color);
  position: absolute;
  top: 0;
  left: -30px;
  border-top-right-radius: 50%;
  background: transparent;
}

.register-header::after {
  content: "";
  width: 30px;
  height: 30px;
  box-shadow: -15px 0 0 0 var(--primary-color);
  position: absolute;
  top: 0;
  right: -30px;
  border-top-left-radius: 50%;
  background: transparent;
}

.input_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input-field {
  width: 100%;
  height: 55px;
  background: transparent;
  color: var(--second-color);
  font-size: 16px;
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  outline: none;
}

#user {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 15px;
  left: 20px;
  transition: 0.2s;
}

.input-field:focus ~ .label,
.input-field:valid ~ .label {
  background-color: var(--primary-color);
  color: var(--black-color);
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  border-radius: 30px;
  padding: 0 10px;
}

i {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.remember-me {
  display: flex;
  gap: 4px;
}

.input-submit {
  width: 100%;
  height: 50px;
  background: #ececec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.login {
  text-align: right;
  margin-left: 10px;
}

.login a {
  font-weight: 500;
  text-decoration: none;
}

/* Avatar */
.img-preview-container {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-text {
  color: #888; /* Màu chữ khi không có ảnh */
}
/* Alert */
/* styles for custom alert */
.custom-alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

/* styles for success alert */
.success-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Close button */
.alert-close {
  margin-left: auto;
  cursor: pointer;
  font-weight: bold;
}
