// UserAddress.scss
.user-address {
    h2 {
      color: #007bff;
      margin-bottom: 20px;
    }
  
    form {
      label {
        color: #333;
      }
  
      button {
        margin-top: 15px;
      }
    }
  }
  