.success-payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
    text-align: center;
}

h1 {
    color: #4caf50; /* Màu xanh lá cây cho thông báo thành công */
}

p {
    margin: 20px 0;
}

.back-home-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #45a049; /* Màu xanh đậm hơn khi hover */
    }
}
