.floating-chatbox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .user-avatar, .message-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  .chatbox-bubble {
    background-color: #007bff; // Matching tone with the admin
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    .new-message-count {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #ff4d4f;
      color: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.75rem;
      font-weight: bold;
    }
    i {
      display:flex;
      margin-right: -10px;
      font-size: 1.8rem; // Increase the size of the icon
    }
  }

  .chatbox-window {
    background-color: #fff;
    color: #333;
    width: 350px; // Increased width
    height: 500px; // Increased height to match your request
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chatbox-header {
    background-color: #007bff; // Matching the admin tone
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #333;

    .close-btn {
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .chatbox-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .chat-bubble {
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 10px;
      max-width: 80%;
      word-wrap: break-word;
      color: #fff;

      &.user-message {
        background-color: #007bff; // Matching the admin tone
        align-self: flex-end;
      }

      &.admin-message {
        background-color: #555; // Keeping admin message color
        align-self: flex-start;
      }
    }
  }

  .chatbox-input {
    padding: 10px;
    display: flex;

    input {
      flex-grow: 1;
      padding: 8px;
      background-color: #f1f1f1;
      border: none;
      color: #333;
      border-radius: 5px;
    }

    button {
      margin-left: 10px;
      background-color: #007bff; // Matching the button color with the admin
      color: #fff;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: darken(#007bff, 10%);
      }
    }
  }
}
